<section class="h-screen w-screen flex flex-col justify-center items-center bg-white">
    <nav class="w-1/2 h-1/4 flex-col space-y-8">
        <p class="text-black text-2xl font-sm" style="font-size:xx-large;">We are independent. So are our clients. We design for brands, artists, and organizations who are far more than those things.</p>
        <a href="#" class="flex space-x-2">
            <div class="pt-3"><div class="h-2 w-2 rounded-full bg-black"></div></div>
            
            <p class="text-xl font-medium">see our work</p>
        </a>
    </nav>
</section>