    <div class="bg-white p-4 justify-center w-screen h-3/4 flex flex-col text-left">
        <p class="text-black text-2xl font-sm pl-32" style="font-size:xx-large;">We design independent brands.</p>
    </div>
